<%- include('partials/header'); -%>

<h1 class="align3 text1">Customers Page</h1>


    
<div class="container div-disp1">
             
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Account No.</th>
          <th>Name</th>
          <!-- <th>Age</th>
          <th>Email-Id</th> -->
          <th>Current Balance</th>
          <th>Details</th>
          
        </tr>
      </thead>

      <tbody>
      <%customers.forEach(function(customer){ %>
        <tr>
          <td><%=customer.customerID%></td> 
          <td><%=customer.name%></td>
          <!-- <td><%=customer.age%></td>
          <td><%=customer.email%></td> -->
          <td>₹ <%=customer.accountBalance%></td>
          <td> <form action="/Customer/:<%= customer.customerID%>" method="get" >
            <button class="btn btn-primary" type="submit">View</button>
        </form></td>

        </tr>
      <%});%>
        
      </tbody>
    </table>
</div>

<%- include('partials/footer'); -%>
